#division1{
    background-color: black;
    height: 200px;
}
#division2{
    background-color: rgb(243, 9, 9);
    height: 200px;
}
#division3{
    background-color: rgb(243, 243, 9);
    height: 200px;
}