body{
    background-color: rgb(93, 90, 90);
}

#par1{
    color: turquoise;
    background-color: rgba(87, 113, 62, 0.272);
    font-size: 17px;
    padding-bottom: 15px;
    text-align: center;
}
#par2{
    color: brown;
    background-color: rgba(240, 128, 128, 0.274);
    font-size: 17px;
    padding-bottom: 15px;
    text-align: end;
    text-transform: uppercase;
    text-decoration-style: dashed;
}

#par3{
    color: green;
    background-color: rgba(135, 206, 235, 0.274);
    font-size: 17px;
    padding-bottom: 15px;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    text-decoration: overline;
}
#insidetext{
    background-color: lightgray;
    padding: 10px;
}
.myparagraph{
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
    color: honeydew;
}
.mydiv{
    border: 3px dashed blue;
    margin: 25px;
    padding: 20px;
    background-color: darkslategray;
}