#division1 {
    background-color: black;
    height: 150px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}
#division2 {
    background-color: red;
    height: 150px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}
#division3 {
    background-color: green;
    height: 150px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}
#imgsrc{
    width: 300px;
    height: 200px;
    border: 3px dashed yellow;
    padding: 5px;
    margin: 10px;
}
